section
  //h2#ducktron Ducktron
  //hr.bar

  div.blurb
    div.ducktron-info
      <iframe frameborder="0" src="https://itch.io/embed/137226" width="100%"></iframe>

  div.blurb
    p Made in 48 hours for the Ludum Dare 38 Compo: see entry at #[a(href="https://ldjam.com/events/ludum-dare/38/ducktron") 'https://ldjam.com/events/ludum-dare/38/ducktron']
    p Working on iOS port at the moment!