footer
  div.lockup

    div.content-wrap
      nav
        a(href='/') Home
        a(href='/posts') Archives
        a(href='/contacts') About Me
        a(href='/ducktron') Ducktron

        //a(href='#about-me') About Me
        //a(href='#Experenice') Experience
        //a(href='#Blog') Blog
        //a(href='#Details') Contact Me



      p.copyright Jakob Pettersson Peeker 2017
