a(href="#home" class="back-to-top")
#container1.arrow
#container.logo


header#home.ducktron

    nav

      a(href='/') Home
      a(href='/posts') Archives
      a(href='/contacts') About Me
      a(href='/ducktron') Ducktron

    //a(href='#about-me') About Me
      //a(href='#Experenice') Experience
      //a(href='#Blog') Blog
      //a(href='#Details') Contact Me


    h1.ducktron
      span.ducktron ducktron
    p.kicker.ducktron IRREVERENT PONDLIFE SIMULATION
