<a href="#home" class="back-to-top"></a><div id="container1" class="arrow"></div><div id="container" class="logo"></div><header id="home"><nav><a href="/">Home</a><a href="/posts">Archives</a><a href="/contacts">About Me</a><a href="/ducktron">Ducktron</a></nav><!--a(href='#about-me') About Me//a(href='#Experenice') Experience
//a(href='#Blog') Blog
//a(href='#Details') Contact Me

--><h1><span>neontropics</span></h1><p class="kicker">games  // tunes // horror // code // beer // tea</p></header>